<nav>
<div class="text-white font-semibold flex justify-between items-center md:px-12 p-2 w-screen h-16 bg-gray-600  border-y-2 border-neutral-400">
    <div class="text-2xl "><a >BLog</a></div>
    <div>
        <ul class="flex gap-2">

            <!-- <li><label><input class="rounded h-9 px-2 bg-gray-600 border duration-200 border-white focus:border-2" type="text" placeholder="Search"></label></li> -->
            <li><a routerLink="/account"><img class="h-9 hover:scale-110 duration-300  rounded-full" src="https://img.icons8.com/?size=100&id=7819&format=png&color=FFFFFF"></a></li>
        </ul>
    </div>
</div>
<nav class="flex flex-wrap justify-center -mx-5 -my-2 p-4">
  <div class="px-5 py-2">
    <a routerLink="/home" class="text-base leading-6 text-neutral-100 hover:text-gray-300">
        Home
    </a>
</div>
  <div class="px-5 py-2">
      <a routerLink="/Create" class="text-base leading-6 text-neutral-300 hover:text-gray-400">
        <img class="h-8 hover:scale-110 duration-100" src="https://img.icons8.com/?size=100&id=11255&format=png&color=FFFFFF" alt="">
      </a>
  </div>
  <div class="px-5 py-2">
      <a routerLink="/favorites" class="text-base leading-6 text-neutral-300 hover:text-gray-400">
        <img class="h-8 hover:scale-110 duration-100" src="https://img.icons8.com/?size=100&id=114073&format=png&color=FFFFFF" alt="">      </a>
  </div>



</nav>
</nav>
