<div class="w-screen h-full bg-gray-600 md:p-12 p-4">
  <div class="flex flex-row sm:justify-around md:justify-between">
    <!-- Main Content Section -->
    <div class="md:w-9/12 w-full flex flex-col">
      <div class="md:w-11/12 w-full">
        <p class="px-4 md:px-12  text-white  border-b-2 border-neutral-400 py-4">Your daily feed is here</p>
        <div *ngFor="let article of articles | shuffle" class="px-4 md:px-12 py-9 flex-col justify-start items-center text-white border-b-2 border-neutral-400">
          <div class="flex flex-row gap-3"><a [routerLink]="['/', article.author.username]">{{article.author.username}}</a><img class="rounded-full h-5" [src]="article.author.image"></div>
          <p class="text-2xl font-bold">{{article.title}}</p>
          <p class="text-lg font-light">{{article.description}}</p>
          <button (click)="getArticle(article.slug)" class="underline font-thin text-sm"> Continue reading...</button>
          <div class="flex flex-row justify-start items-center gap-2 py-4">
            <img class="h-5" src="https://img.icons8.com/?size=100&id=85038&format=png&color=eeeeee" *ngIf="!article.favorited">

            <img class="h-5" src="https://img.icons8.com/?size=100&id=85138&format=png&color=FFFFFF" *ngIf="article.favorited" >
            <p class="text-neutral-200 font-semibold">{{article.favoritesCount}}</p>

          </div>
        </div>
    </div>
    </div>

    <!-- Sidebar Section (visible on medium and up) -->
    <div class="hidden md:flex flex-col border-l-2 h-96 w-3/12 p-10    ">
      <p class="text-white ">Explore popular tags</p>
      <div class="bg-gray-600 w-full p-4 rounded-lg flex flex-wrap gap-1">
        <div *ngFor="let tag of tags" class="bg-gray-500 text-white rounded-full flex justify-center items-center h-10 px-4  transition-all hover:bg-gray-400">
          <a href="#" class="no-underline">
            <p class="m-0">{{ tag }}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
